<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script src="../Static/JS/about.js"></script>

</head>

<body>
    <!--Блок основной страницы-->

    <header id="header-index">
        <h1>LifeSpot - о проекте</h1>
        <h3>Ресурс LifeSpot позволяет просматривать прямые трансляции городов с возможностью поиска интересующей локации. </h3>
        <p>Отзыв о работе сайта можно оставить здесь</p>
    </header>

    <div class="reviews">
        <div class="review-button">
            <button onclick="addComment()">Оставить отзыв</button>
        </div>
    </div>
    <!--SLIDER-->
    <!--SIDEBAR-->
    <!--FOOTER-->
</body>
</html>