<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script src="../Static/JS/about.js"></script>
</head>

<body>
    <!--Блок основной страницы-->
    <main>
        <div class="commit">
            <h1>LifeSpot - о проекте</h1>
            <h3>Ресурс LifeSpot позволяет просматривать прямые трансляции городов с возможностью поиска интересующей локации. </h3>
            <p>Отзыв о сайте можно оставить здесь</p>
            <button onclick="addCommit(getName(), getCommit());">Оставить отзыв</button>
        </div>
    </main>
    <!--SIDEBAR-->
    <!--FOOTER-->
</body>
</html>