<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script src="../Static/JS/index.js"></script>
    <script>
        let session = handleSession();
        printSession();
        setTimeout(function () {
            alert("Если вам понравился наш контент, то, пожалуйста, подпишитесь на наш Инстаграм LifeSpot")
        }, 60000);
    </script>
</head>

<body>
    <!--HEADER-->
    <!--Блок основной страницы-->
    <main>
        <hr>
        <input type="text" id="searchBar" oninput="filterContent(document.getElementsByTagName('input')[0].value.toLowerCase())" size=50%>
        <hr />
        <div class="video-container">
            <iframe width="400" height="230" src="https://www.youtube.com/embed/1-iS7LArMPA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3>Нью-Йорк, Таймс-Сквер</h3>
        </div>
        <div class="video-container">
            <iframe width=400 height="230" src="https://www.youtube.com/embed/8bkwnyG3j8o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3>Санкт-Петербург, Невский проспект</h3>
        </div>
        <div class="video-container">
            <iframe width=400 height="230" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3>Лондон, автобусный маршрут</h3>
        </div>
    </main>
    <!--SIDEBAR-->
    <!--FOOTER-->
</body>
</html>