<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot — прямые трансляции с улиц</title>
    <!-- Подключение стилей по относительному пути из внешнего файла-->
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
</head>
<body>

    <headers>
        <div id="header-index">
            <!--Заголовок-->
            <h1>LifeSpot — прямые трансляции с улиц</h1>
        </div>
        <!--Параграф-->
        <div>
            <p><h3>На нашем сайте вы сможете смотреть прямые трансляции с улиц городов</h3></p>
            <input id="searchBar" type="text" size="50%" />
        </div>
    </headers>
    <main>

        <div class="bordered">
            <!--Кнопки-->
            <div class="video-container">
                <!-- <a href="https://www.youtube.com/watch?v=wCcMcaiRbhM"><button>Санкт-Петербург</button></a>
                <a href="https://www.youtube.com/watch?v=srlpC5tmhYs&ab_channel=BryantParkNYC"><button>Нью-Йорк</button></a>
                <a href="https://www.youtube.com/watch?v=JplMzss6_YE&ab_channel=WokiliWanders"><button>Лондон</button></a> !-->

                <iframe width="560" height="315" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen> </iframe>
                <h3>Трансляция из Санкт-Петербурга</h3>
            </div>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h3>Трансляция из Нью-Йорка</h3>
            </div>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h3>Трансляция из Лондона</h3>
            </div>
        </div>
    </main>
    <aside id="sidebar">
        <div class="navbar">
            <a href="file:///D:/Programs/Microsoft%20Visual%20Studio/source/repos/LifeSpot/LifeSpot/Views/index.html"><p>О сайте</p></a>
            <a href="file:///D:/Programs/Microsoft%20Visual%20Studio/source/repos/LifeSpot/LifeSpot/Views/index.html"><p>Все трансляции</p></a>
        </div>

    </aside>
    <footer>
        <div class="bordered">
            <p>LifeSpot - все права защищены</p>
            <p>Разработка и дизайн: Валентина Исаева.</p>
            <p>Напишите нам: v@yandex.ru</p>
        </div>
    </footer>

</body>

</html>